env/
media/
info.log
error.log
debug.log

__pycache__/
*.pyc

media/
__pycache__/
*/__pycache__/*
*.log
*.pot
*.pyc
*.pyo
.vscode/
*.py[cod]
*.log
*.pot
*.pyc
env/
venv/
*.swp
.mypy_cache/
.coverage
*.egg-info/
instance/
*.DS_Store
.env
staticfiles/

dump.rdb

services/parcelun-firebase-adminsdk-fbsvc-2ff03d2791.json